<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>bluCore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<my-app>Loading...</my-app>

<!-- bundled angular 2 application - contains the assets.app folder content -->
<script src="/js/app/bundle.js"></script>
<script src="./js/bootstrap/jquery-3.1.1.min.js"></script>
<script src="./js/bootstrap/bootstrap.js"></script>

<script type="text/javascript">
window._urq = window._urq || [];
_urq.push(['initSite', 'a880f226-1f87-46eb-8f2b-bd909f6bbd68']);
(function() {
var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
})();
</script>

</body>
</html>
