<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<title>Verified!!!</title>
	<style type="text/css">
	.container-pad {
	padding: 10px 5px 15px 10px;
	}
	.email-content {
	padding: 10px 5px 15px 10px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: lightgray;
	border-style: solid;
	border-color:blue;
	border-width: 1px;
	}
	</style>
</head>
<body alink="#000099" link="#000099" style="background-color: white; font-family: Open Sans; color: rgb(0, 0, 0);" vlink="#990099">
	<div style="text-align: center; font-weight: bold; color: rgb(0, 0, 153);">
		<big><big><big><big><span style="color: rgb(51, 102, 255);">Blu</span>Core</big></big></big></big>
	</div>
	<div class="container-pad">
		<p>We are delighted that you have decided to sign up to 
            <span style="color: rgb(51, 102, 255);">Blu</span><span style="color: rgb(0, 0, 153);">Core</span>
            , but we're a little slow.
        </p>
        <p>Since Teacher and Administrator super-powers in 
            <span style="color: rgb(51, 102, 255);">Blu</span><span style="color: rgb(0, 0, 153);">Core</span> 
            are quite extensive, we also want to check that the email is in the school directory. After all, we would not want a student to impersonate you !
        </p>
		We should double-check your account and activate you within a couple of days.<br>
		<br>
		Please log in to your BluCore account and make sure everything is cool, and if that does not work, 
        contact your school coordinator to sort things out.
	</div>
	<div>
		<div class="container-pad">
			Cheers
		</div>
		<div style="margin-left: 40px;">
			<span style="font-style: italic;">your friendly neighborhood BluCore mailbot</span>
		</div>
	</div>
	<div class="gwd-div-xzal">
		<span class="gwd-span-1st0"></span><br>
	</div>
	<p class="gwd-p-1sxw"><br></p>
</body>
</html>