html { 
background: url(/images/blue-images-15.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* Mine */
body {
  background: rgba(122, 130, 136, 0.0);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #999;
}


a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}


.spacing {
  margin-bottom: 20px;
}

/* Mine */
.container-space {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 80px;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.5)!important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-inline .form-control {
    vertical-align:middle;
    width: 100%;
    display: inline-block;
}


