<div class="container">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <img [src]="fullImagePath" class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>The Core of the Core</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>
              <span style="font-size: 20px; line-height: 24px;">
                Signing Up or Signing In</span>
                <span style="font-size: 16px; line-height: 20px;">
                  <br><br>
                  When you first sign up you will be asked to establish yourself as a Student, a Teacher, or (gasp) and Admistrator.
                  <br><br>
                  Once you have signed up we will verify your ID and email address, and confirm that all is cool. 
                  Once that is done, go create some events, or go register to help out.
                </span>
              </p>
          </div>
        </div>
      </div>
    </div>
</div>