<div class = "col-md-8 col-md-offset-2">
	<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
		<div class="form-group" >
			<label for="firstName">First Name</label>
			<input 
				type="text" 
				id="firstName" 
				class="form-control"
				formControlName = "firstName">
		</div>
		<div class="form-group" >
			<label for="lastName">Last Name</label>
			<input 
				type="text" 
				id="lastName" 
				class="form-control"
				formControlName = "lastName">
		</div>	
		<div class="form-group" >
			<label for="email">email address</label>
			<input 
				type="email" 
				id="email" 
				class="form-control"
				formControlName = "email">
		</div>
		<div class="form-group" *ngIf= "buttonIsPresent()">
			<label for="password">password</label>
			<input 
				type="password" 
				id="password" 
				class="form-control"
				formControlName = "password">
		</div>
		<div class="form-group" *ngIf= "buttonIsPresent()">
			<label for="dupPassword">re-type password</label>
			<input 
				type="password" 
				id="dupPassword" 
				class="form-control"
				formControlName = "dupPassword">
		</div>
		<div *ngIf="(myForm.value.password && !myForm.value.dupPassword) || (!myForm.value.password && myForm.value.dupPassword) || (myForm.value.password && myForm.value.dupPassword && (myForm.value.password != myForm.value.dupPassword))"
			class="alert">
			<span> Passwords must match</span>
		</div>
		<div class="form-group" *ngIf= "buttonIsPresent()">
			<label for="wcpssId">WCPSS ID</label>
			<input 
				type="text" 
				id="wcpssId" 
				class="form-control"
				formControlName = "wcpssId">
		</div>
		<div class="form-group" >
			<label for="school">School</label>
			<input
				type="text" 
				id="school" 
				class="form-control"
				formControlName = "school">
		</div>
		<div class="form-group" >
			<label for="kind">Kind</label>
			<select [attr.disabled]="selectDisabled"
				id="kind" 
				class="form-control"
				formControlName = "kind">
				<option>student</option>
				<option>teacher</option>
				<option>admin</option>
				<option>parent</option>
			</select>
		</div>
		<div class="checkbox form-group" *ngIf= "isAdmin()">
			<label for="valid">
			<input 
				type="checkbox"
				id="valid" 
				formControlName = "valid">
			Valid?</label>
		</div>
		<div *ngIf= "!isAdmin() && !isValidatedUser ()">
			<span class="text-danger">Your userid has not been validated - if you are tired of waiting contact your school rep</span>
		</div>
		<button 
			class="btn btn-primary" 
			*ngIf= "buttonIsPresent() && isLoggedIn()"
			type="submit"
			[disabled]="!myForm.valid"
			>
			Update
		</button>
		<button 
			class="btn btn-primary" 
			*ngIf= "buttonIsPresent() && !isLoggedIn()"
			type="submit"
			[disabled]="!myForm.valid"
			>
			Add User
		</button>
		<button 
			class="btn btn-primary" 
			*ngIf= "!isMe() && isLoggedIn()" 
			type="button"
			(click) = "emailUser()"
			>
			email user
		</button>
		<button 
			class="btn btn-primary" 
			*ngIf= "isLoggedIn()" 
			type="button"
			(click) = "goBack()"
			>
			Back
		</button>
	</form>
</div>