<div class = "col-md-8 col-md-offset-2">
	<form [formGroup]="myForm" (ngSubmit)="onSubmit()" name="myForm">
		<div class="form-group" >
			<label for="firstName">First Name</label>
			<input 
				type="text" 
				id="firstName" 
				class="form-control"
				formControlName = "firstName">
		</div>
		<div class="form-group" >
			<label for="lastName">Last Name</label>
			<input 
				type="text" 
				id="lastName" 
				class="form-control"
				formControlName = "lastName">
		</div>	
		<div class="form-group" >
			<label for="email">email address</label>
			<input  
				type="email" 
				id="email" 
				class="form-control"
				formControlName = "email"
				aria-describedby="emailHelpBlock"
				placeholder="you@student.wcpss.net">			
			<div *ngIf="email.invalid && (email.dirty ||email.touched)" class="alert">
				<span class="text-danger"> The email is not correctly formatted - please use your wcpss.net email address</span>
			</div>

		</div>
		<div class="form-group" *ngIf= "buttonIsPresent()">
			<label for="password">password</label>
			<input 
				type="password" 
				id="password" 
				class="form-control"
				formControlName = "password">
		</div>
		<div class="form-group" *ngIf= "buttonIsPresent()">
			<label for="dupPassword">re-type password</label>
			<input 
				type="password" 
				id="dupPassword" 
				class="form-control"
				formControlName = "dupPassword">
		</div>
		<div *ngIf="(myForm.value.password && !myForm.value.dupPassword) || (!myForm.value.password && myForm.value.dupPassword) || (myForm.value.password && myForm.value.dupPassword && (myForm.value.password != myForm.value.dupPassword))"
			class="alert">
			<span class="text-danger"> Passwords must match and be at least 5 characters long</span>
		</div>
		<div class="form-group" *ngIf= "buttonIsPresent()">
			<label for="phone">Phone</label>
			<input 
				type="text" 
				id="phone" 
				class="form-control"
				formControlName = "phone">
		</div>
		<div class="form-group" >
			<label for="school">School</label>
			<select
				id="school"
				name="school"
				class="form-control"
				formControlName = "school"
				>
				<!-- <option selected>pick one</option> -->
				<!-- remove the 'selected' below once we have more than one school -->
				<option *ngFor = "let theSchool of schoolList" aria-placeholder="select a school">{{theSchool.name}}</option>
			</select>
		<div *ngIf="(!myForm.value.school)"
			class="alert">
			<span class="text-danger">pick a school</span>
		</div>
		</div>
		<div class="form-group" >
			<label for="kind">Kind</label>
			<select     
				id="kind" 
				class="form-control"
				formControlName = "kind">
				<option>student</option>
				<option>teacher</option>
				<option>admin</option>
				<!-- <option>parent</option> -->
			</select>
		</div>
		<div class="form-group" >
			<label for="valid">Validation State</label>
			<select 
				id="valid" 
				class="form-control"
				formControlName = "valid">
				<option>approved</option>
				<option>rejected</option>
				<option>unknown</option>
			</select>
		</div>
		<div style="padding-bottom:8px" *ngIf= "!isAdmin() && !isValidatedUser ()">
			<span class="text-danger">Your user-id and email will be validated when you select 'ADD USER'.  Please look in your email box for a validation email. 
			</span>
		</div>
		<button 
			class="btn btn-primary" 
			*ngIf= "buttonIsPresent() && isLoggedIn()"
			type="submit"
			[disabled]="!myForm.valid"
			>
			Update
		</button>
		<button 
			class="btn btn-primary" 
			*ngIf= "buttonIsPresent() && !isLoggedIn()"
			type="submit"
			[disabled]="!myForm.valid"
			>
			Add User
		</button>
		<button 
			class="btn btn-primary" 
			*ngIf= "!isMe() && isLoggedIn()" 
			type="button"
			(click) = "emailUser()"
			>
			email user
		</button>
		<button 
			class="btn btn-primary" 
			*ngIf= "isLoggedIn()" 
			type="button"
			(click) = "goBack()"
			>
			Back
		</button>
	</form>
</div>