<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Verified!!!</title>

<style type="text/css">
.container-pad {
padding: 10px 5px 15px 10px;
}
.email-content {
padding: 10px 5px 15px 10px;
margin-left: 40px;
margin-right: 40px;
background-color: lightgray;
border-style: solid;
border-color:blue;
border-width: 1px;
}
</style>
</head>
<body style="background-color: white; font-family: Open Sans; color: rgb(0, 0, 0);" alink="#000099" link="#000099" vlink="#990099">
<div style="text-align: center; font-weight: bold; color: rgb(0, 0, 153);"><big><big><big><big><span style="color: rgb(51, 102, 255);">Blu</span>Core</big></big></big></big></div>
<div class="container-pad">
<p>Hello {{toFriendly}}:</p>
<p>We are delighted that you have decided to sign up to <span style="color: rgb(51, 102, 255);">Blu</span><span style="color: rgb(0, 0, 153);">Core</span>!
&nbsp;As a wcpss email owner, we know that you are a trusty Wake
County Public Schools student, teacher, or administrator, so, without
further ado we'll complete the verification process and get you on your
way.</p>
<p>Please click on <a href="{{validationLink}}">this link</a>,
or paste the following link ({{validationLink}}) into your browser to complete the
verification of your email address. &nbsp;You will not be asked for
any information, or to download any files.&nbsp;
</p>
Feel free to contact your school coordinator ({{fromName}} at
{{fromEmail}}) with any questions. You should be able to do so by simply
replying to this email.</div>
<div>
<div class="container-pad">Cheers</div>
<div style="margin-left: 40px;">
<span style="font-style: italic;">your friendly
neighborhood BluCore mailbot</span>
</div>
</div>
<div class="gwd-div-xzal"><span class="gwd-span-1st0"></span><br>
</div>
<p class="gwd-p-1sxw">
<br>
</p>
</body></html>