<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Verified!!!</title>

<style type="text/css">
.container-pad {
padding: 10px 5px 15px 10px;
}
.email-content {
padding: 10px 5px 15px 10px;
margin-left: 40px;
margin-right: 40px;
background-color: lightgray;
border-style: solid;
border-color:blue;
border-width: 1px;
}
</style>
</head>
<body style="background-color: white; font-family: Open Sans; color: rgb(0, 0, 0);" alink="#000099" link="#000099" vlink="#990099">
<div style="text-align: center; font-weight: bold; color: rgb(0, 0, 153);"><big><big><big><big><span style="color: rgb(51, 102, 255);">Blu</span>Core</big></big></big></big></div>
<div class="container-pad">
<p>Welcome {{toName}}!
<p>We are delighted that you have decided to sign up to <span style="color: rgb(51, 102, 255);">Blu</span><span style="color: rgb(0, 0, 153);">Core</span>, and you've
been VERIFIED ! &nbsp;
</p>
We've
carefully checked your WCPSS information, and everything matches up with our records.
Next time that you log on to your BluCore account you will be
fully able to find, join and manage events.<br>
<br>
Feel free to contact your school coordinator ({{fromName}} at
{{fromEmail}}) with any questions. You should be able to do so by simply replying to this email.</div>
<div>
<div class="container-pad">Cheers</div>
<div style="margin-left: 40px;">
<span style="font-style: italic;">your friendly
neighborhood BluCore mailbot</span>
</div>
</div>
<div class="gwd-div-xzal"><span class="gwd-span-1st0"></span><br>
</div>
<p class="gwd-p-1sxw">
<br>
</p>
</body></html>