<td> {{ event.name }} </td>
<td> {{ event.date }} </td>
<td> {{ event.time }} </td>
<td> {{ event.duration }} </td>
<td> {{ event.school }} </td>
<td> {{ event.ownerName }} </td>
<td>
	<!-- <footer class= "panel-footer"> -->
		<div>
			<a (click)="onEdit()" *ngIf="showEdit()">Edit</a>
			<a (click)="onDelete()" *ngIf="showEdit()">Delete</a>
			<a (click)="onEdit()" *ngIf="showView() && !showEdit()">View</a>
			<a (click)="onSelect()" *ngIf="showView() && !showEdit()">Select</a>
		</div>
	<!-- </footer> -->
</td>