<td> {{ event.name }} </td>
<td> {{ event.date }} </td>
<td> {{ event.time }} </td>
<td> {{ event.duration }} </td>
<td> {{ event.school }} </td>
<td><a (click)="onShowTeacher()"> {{ event.ownerName }}</a> </td>
<td>
	<!-- <footer class= "panel-footer"> -->
		<div>
			<a (click)="onEdit()" *ngIf="showEdit()">Edit</a>
			<a (click)="onDelete()" *ngIf="showEdit()">Delete</a>
			<a (click)="onEdit()" *ngIf="eventIsNotMine() && !showEdit()">View</a>
			<a (click)="onSelect()" *ngIf="eventIsNotMine() && iAmAStudent() && iHaveNotSelectedThis()">Participate</a>
			<a (click)="onDecline()" *ngIf="eventIsNotMine() && iAmAStudent() && !iHaveNotSelectedThis()">Decline</a>
		</div>
	<!-- </footer> -->
</td>