<div class="container">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <img [src]="fullImagePath" class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>The Core of the Core</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>
              <span style="font-size: 20px; line-height: 24px;">
                Events are the things that Teachers Create, and Students participate in.</span>
                <span style="font-size: 16px; line-height: 20px;">
                  <br><br><br>
                  If you are a Teacher, you will come here and use the "new event"
                  tab to create events, and the "Event List" and "My Events" tabs to manage
                  the events that you create.
                  <br>
                  <br>If you are a student, you will come here to sign up to participate in
                  events, and to (eventually) track your participation
                </span>
              </p>
          </div>
        </div>
      </div>
    </div>
</div>