<div class = "col-md-8 col-md-offset-2">
	<form [formGroup]="myForm" (ngSubmit)="onSubmit()" #localRef="ngForm">
		<div class="form-group">
			<label  for="eventName">Event Name</label>
			<input  class="form-control"
				type="text" 
				id="eventName" 
				formControlName = "eventName"
				 >
		</div>
		<div class="form-group">
			<label  for="eventDescription">Event Description</label>
			<textarea  class="form-control"
				type="text" 
				id="eventDescription" 
				formControlName =  "eventDescription"   
				rows="3">
			</textarea>
		</div>
		<div  class="form-group">
			<label for="eventDate">Date</label>
			<input class = "form-control" 
				type="date" 
				id="eventDate" 
				formControlName =  "eventDate" >
		</div>
		<div  class="form-group">
			<label for="eventTime">Time</label>
			<input class = "form-control" 
				type="time" 
				id="eventTime" 
				formControlName =  "eventTime">
		</div>
		<div  class="form-group">
			<label for="eventDuration">Duration</label>
			<input class = "form-control" 
				type="number" 
				id="eventDuration" 
				formControlName =  "eventDuration" >
		</div>
		<div  class="form-group">
			<label for="eventSchool">School</label>
			<input class = "form-control" 
				type="string" 
				id="eventSchool" 
				formControlName =  "eventSchool">
		</div>
			
		<div *ngIf="initComplete">
			<span><strong>Current Participant List</strong></span>
			<ul>
				<li *ngFor="let participant of eventParticipants">{{participant}}</li>
			</ul>
		</div> 
		
		<button class="btn btn-danger" type="button" (click) = "onClear(localRef)" [disabled]="myForm.disabled" *ngIf="iAmATeacher()">Clear
		</button>
		<button class="btn btn-primary" type="submit" [disabled]="!myForm.valid"  *ngIf= "iAmATeacher()">Save</button>
		<button class="btn btn-primary" 
				type="button" 
				(click) = "onJoin(localRef)" 
				[disabled]="!myForm.disabled && myForm.valid" 
				*ngIf= "iHaveNotSelectedThis() && iAmAStudent()"
				>Signup</button>
	</form>

</div>