
	<td> {{ rowevent.name }} </td>
	<td> {{ rowevent.date }} </td>
	<td> {{ rowevent.time }} </td>
	<td> {{ rowevent.duration }} </td>
	<td> {{ rowevent.school }} </td>
	<td><a (click)="onShowTeacher()"> {{ rowevent.ownerName }}</a> </td>
	<td> {{ attended }} </td>
	<td>
		<!-- <footer class= "panel-footer"> -->
			<div>
				<a (click)="onEdit()" *ngIf="showEdit()">Edit</a>
				<a (click)="onDelete()" *ngIf="showEdit()">Delete</a>
				<a (click)="onEdit()" *ngIf="eventIsNotMine() && !showEdit()">View</a>
				<a (click)="onSelect()" *ngIf="eventIsNotMine() && iAmAStudent() && iHaveNotSelectedThis() && !tooManySignedUpAlready()">Participate</a>
				<a (click)="onDecline()" *ngIf="eventIsNotMine() && iAmAStudent() && !iHaveNotSelectedThis()">Decline</a>
			</div>
		<!-- </footer> -->
	</td>
