<div class = "col-md-8 col-md-offset-2 panel panel-primary panel-transparent">  <!-- ToDo --> 
    <div style="margin-bottom: 6px; margin-top: 6px">
        <form class="form-inline" [formGroup]="searchForm" #searchFormRef="ngForm" > <!---->
            <div class="form-group col-md-6">
                <label class="sr-only" for="textSearch"></label>
                <input  class="form-control form-control-inline" placeholder="filter text"
                    type="text" 
                    id="textSearch" 
                    formControlName = "textSearch"
                    #textSearch
                    >
            </div>
            <div class="form-group">
                <label  class="sr-only" for="teacherSearch"></label>
                <input  class="form-control form-control-inline" 
                    placeholder="filter teachers"
                    type="text" 
                    id="teacherSearch" 
                    formControlName = "teacherSearch"
                    #teacherSearch
                    >
            </div>
            <button 
                class="btn btn-primary" 
                type="button"
                [disabled]="!teacherSearch.value && !textSearch.value"
                (click)="onSearch(searchFormRef)"
                > 
                Filter</button>
            <button 
                class="btn btn-secondary" 
                type="button"
                (click)="onClear(searchFormRef)"
                > 
                Reset</button>
        </form>
    </div>
    <div></div>
    <table class="table table-hover panel-body">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>School</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evt of events" app-event [event]="evt">
            </tr>
        </tbody>
    </table>
</div>