<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>unVerified</title>

<style type="text/css">
.container-pad {
padding: 10px 5px 15px 10px;
}
.email-content {
padding: 10px 5px 15px 10px;
margin-left: 40px;
margin-right: 40px;
background-color: lightgray;
border-style: solid;
border-color:blue;
border-width: 1px;
}
</style>
</head>
<body style="background-color: white; font-family: Open Sans; color: rgb(0, 0, 0);" alink="#000099" link="#000099" vlink="#990099">
<div style="text-align: center; font-weight: bold; color: rgb(0, 0, 153);"><big><big><big><big><span style="color: rgb(51, 102, 255);">Blu</span>Core</big></big></big></big></div>
<div class="container-pad">
<p>We are delighted that you have decided to sign up to <span style="color: rgb(51, 102, 255);">Blu</span><span style="color: rgb(0, 0, 153);">Core</span>, but we've
discovered an...
</p>
</div>
<div class="container-pad">
<div style="text-align: center;"><span style="font-weight: bold;" class="gwd-span-1st0"><span style="color: rgb(51, 102, 255);">O</span><span style="color: rgb(0, 0, 153);">OPS</span></span><br>
</div>
<br>
We want this to be a positive experience for all, and so we've
carefully checked your WCPSS information, and we are confused because
not everything matches up with our records.<br>
<br>
Please log in to your BluCore account and make sure everything is cool,
and if that does not work, contact your school coordinator ({{fromName}} at
{{fromEmail}}) to sort things out.   You should be able to reply directly to this email to do so.</div>
<div>
<div class="container-pad">Cheers</div>
<div style="margin-left: 40px;">
<span style="font-style: italic;">your friendly
neighborhood BluCore mailbot</span>
</div>
</div>
<div class="gwd-div-xzal"><span class="gwd-span-1st0"></span><br>
</div>
<p class="gwd-p-1sxw">
<br>
</p>
</body></html>