 
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-9">
            <img [src]="headerimg" class="img-responsive">
          </div>
          <div class="col-md-2">
            <a class="btn btn-block btn-lg btn-primary" href="authentication/signin">Login</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-9">
            <h1><u>Sign Up</u></h1>
            <h1 class="text-center">You are a...</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-3">
            <div class="row">
              <div class="col-md-3">
                <div class="container container-space"></div>
              </div>
            </div>
            <a href="authentication/edit/student"><img [src]="studentimg" class="center-block img-responsive"></a>
            <h2 class="text-center">Student</h2>
          </div>
          <div class="col-md-3">
            <a href="authentication/edit/teacher"><img [src]="teacherimg" class="center-block img-responsive"></a>
            <h2 class="text-center">Teacher</h2>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-offset-1 col-md-10">
                <div class="container container-space"></div>
              </div>
            </div>
            <a href="authentication/edit/admin"><img [src]="adminimg" class="center-block img-responsive"></a>
            <h2 class="text-center">Administrator</h2>
          </div>
        </div>
      </div>
    </div>